@charset "utf-8";

/* article_detail */

.article_title{
    color:@base_color;
    border-bottom:@border_deep;

    .mb(10);
    .ft(16);
    .pb(10);
}

.article_time, .article_tags{
    .mb(6);
}

.article_time, .article_tags, .article_org_link{
    color: #888;

    .ft(12);
}

.article_org_link{
    border-bottom:@border_light;
    .pb(10);

    a{
        color: @base_color;
    }
}

.article_cont{
    margin-top: 10*@rem;

    p{
        text-indent: 2em;
    }
}

/* select_article */

.select_artc{
    border-top:@border_light;

    .pt(10);
    .pb(5);

    a{
        color:@base_color;
    }

    i{
        .ft(12);
    }
}