@font-face {
  font-family: 'solo';
  src:  url('fonts/solo.eot?sdwuv9');
  src:  url('fonts/solo.eot?sdwuv9#iefix') format('embedded-opentype'),
    url('fonts/solo.ttf?sdwuv9') format('truetype'),
    url('fonts/solo.woff?sdwuv9') format('woff'),
    url('fonts/solo.svg?sdwuv9#solo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'solo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next:before {
  content: "\e90b";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-back:before {
  content: "\e901";
}
.icon-case:before {
  content: "\e902";
}
.icon-company:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-logo:before {
  content: "\e907";
}
.icon-news:before {
  content: "\e908";
}
.icon-project-list:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
