@font-face {
  font-family: 'solo';
  src:  url('fonts/solo.eot?qz24db');
  src:  url('fonts/solo.eot?qz24db#iefix') format('embedded-opentype'),
    url('fonts/solo.ttf?qz24db') format('truetype'),
    url('fonts/solo.woff?qz24db') format('woff'),
    url('fonts/solo.svg?qz24db#solo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'solo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_collection_line:before {
  content: "\e920";
}
.icon_arrow_down:before {
  content: "\e900";
}
.icon_article_setting_line:before {
  content: "\e901";
}
.icon_back:before {
  content: "\e902";
}
.icon_case:before {
  content: "\e903";
}
.icon_collection:before {
  content: "\e904";
}
.icon_company:before {
  content: "\e905";
}
.icon_delete_line:before {
  content: "\e906";
}
.icon_disable:before {
  content: "\e907";
}
.icon_edit:before {
  content: "\e908";
}
.icon_edit_line:before {
  content: "\e909";
}
.icon_exit:before {
  content: "\e90a";
}
.icon_fail:before {
  content: "\e90b";
}
.icon_file:before {
  content: "\e90c";
}
.icon_file_add_line:before {
  content: "\e90d";
}
.icon_file_setting_line:before {
  content: "\e90e";
}
.icon_group:before {
  content: "\e90f";
}
.icon_home:before {
  content: "\e910";
}
.icon_horn:before {
  content: "\e911";
}
.icon_list:before {
  content: "\e912";
}
.icon_loading:before {
  content: "\e913";
}
.icon_logo:before {
  content: "\e914";
}
.icon_news:before {
  content: "\e915";
}
.icon_next:before {
  content: "\e916";
}
.icon_paper:before {
  content: "\e917";
}
.icon_password:before {
  content: "\e918";
}
.icon_project_list:before {
  content: "\e919";
}
.icon_search:before {
  content: "\e91a";
}
.icon_setting_line:before {
  content: "\e91b";
}
.icon_settings:before {
  content: "\e91c";
}
.icon_success:before {
  content: "\e91d";
}
.icon_user:before {
  content: "\e91e";
}
.icon_warning:before {
  content: "\e91f";
}
